{% load static %}
<!DOCTYPE html>
<html lang="fa-ir" dir="rtl">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ترکمان نیوز</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body class="bg-stone-100">
    <header class="bg-white py-4 border-b">
		<div class="container flex flex-wrap items-center gap-5 justify-between">
			<div class="flex items-center gap-10">
				<a href="/">
					<img src="{% static 'img/logo.svg' %}" alt="" class="w-24">
				</a>
				<nav class="flex flex-wrap items-center gap-7">
					<a href="" title="">سیاسی</a>
					<a href="" title="">هنری</a>
					<a href="" title="">ورزشی</a>
					<a href="" title="">اجتماعی</a>
					<a href="" title="">فرهنگی</a>
					<a href="" title="">فناوری اطلاعات</a>
				</nav>
			</div>
			<div class="flex items-center gap-10">
				<a href="" title="" class="bg-blue-700 text-white px-5 py-2 rounded-md">پنل کاربری</a>
				<a href="" title="" class="font-bold border-b-2 border-blue-700 px-2">ارسال خبر</a>
			</div>
		</div>
	</header>

	<article class="container grid grid-cols-12 gap-5 my-10">
		<div class="col-span-12 lg:col-span-9 bg-white p-5 rounded-md">
			<h1 class="font-bold text-3xl">{{ post.title }}</h1>
			<img src="{{ post.images.url }}" alt="{{ post.title }}" class="rounded-md my-5">
			<p class="text-justify leading-8 mb-5">{{ post.text|linebreaksbr }}</p>
		</div>

        <aside class="col-span-12 lg:col-span-3 bg-white rounded-md p-5">
            <div class="sticky top-5">
                <div class="flex flex-col gap-3">
                    <a href="" title="" class="bg-gray-700 text-white w-full block text-center py-2 rounded-md text-xl">سیاسی</a>
                    <a href="" title="" class="bg-green-700 text-white w-full block text-center py-2 rounded-md text-xl">هنری</a>
                    <a href="" title="" class="bg-blue-700 text-white w-full block text-center py-2 rounded-md text-xl">ورزشی</a>
                    <a href="" title="" class="bg-red-700 text-white w-full block text-center py-2 rounded-md text-xl">اجتماعی</a>
                    <a href="" title="" class="bg-orange-700 text-white w-full block text-center py-2 rounded-md text-xl">فرهنگی</a>
                    <a href="" title="" class="bg-sky-700 text-white w-full block text-center py-2 rounded-md text-xl">فناوری اطلاعات</a>
                </div>
                <div class="w-[80%] mx-auto border-b-2 mt-5"></div>
                <div class="flex flex-col gap-5 mt-5">
                    <img src="{% static 'img/tab3.gif' %}" alt="" class="rounded-md">
                    <img src="{% static 'img/tab2.gif' %}" alt="" class="rounded-md">
                    <img src="{% static 'img/tab1.gif' %}" alt="" class="rounded-md">
                </div>
            </div>
        </aside>
	</article>

    <footer class="border-t-2 bg-white py-3">
        <div class="container flex items-center gap-5 justify-between">
            <div>© تمامی حقوق برای ترکمان نیوز محفوظ است.</div>
            <div>توسعه: مهدی ترکمان</div>
        </div>
    </footer>

    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
</body>
</html>